.category-main{
    display: flex;
    justify-content: space-around;
    margin-left: 80px;
    margin-top: 60px;
    margin-bottom: 70px;
    width: 90%;
    height: auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    /* margin: auto; */

}
.fd-div2{
    height: 320px;
}
.category-head{
    margin-left: 40%;
    font-family: 'Dancing Script', cursive;
    color: red;
    font-size: 40px;
}
.head3{
   margin: auto; 
}